@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Permanent+Marker&family=Piedra&display=swap');
:root {
  --main-bg-cl: #2D2D3C;
  --main-text-cl: #fff;
  --top-bar-bg-cl: #151624;
  --color-light-gray: #E5E5E5;
  --color-dark-gray: #9a9483;
  --btn-bg-cl: #c4c4c4;
  --main-i-cl: #E35C5C;
  --focused-btn-cl: #f8f389;
  --human-text-color:#F3F0D7;
  --aliens-text-color:#4E9F3D;

  box-sizing: border-box;
  font-size: 1em;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Piedra', cursive;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--main-bg-cl);
  color: var(--color-light-gray);
  display: flex;
  flex-direction: column;
}

.main{
  display: grid;
  height: 100vh;
  grid-template-columns: 250px calc(100% - 500px) 250px;
  grid-template-rows:15% 85%;
  text-align: center;
}

.human-text,.score-board,.aliens-text{
  background-color: var(--top-bar-bg-cl);
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items:center;
}

.human-score,.aliens-score{
  flex: 1;
}
.battlefield-text{
  flex: 3;
}

.score-board{
  padding: 0 2em;
}

.human-text,.human-weapons{
  border-right: solid 1px var(--color-light-gray);
}

.human-text,.human-score{
  color: var(--human-text-color);
}

.aliens-text,.aliens-score{
  color: var(--aliens-text-color);
}

.battlefield-text{
  color: var(--main-i-cl);
}

.aliens-text,.aliens-weapons{
  border-left: solid 1px var(--color-light-gray);
}

.human-weapons,.aliens-weapons{
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
}

.battle-field{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:0 5em;
}

.battle-field > h2{
  font-size: 2.2rem;
}

.battle-field>p{
  font-size: 1.1rem;
}

.human-score{
  margin-right: auto;
}
.aliens-score{
  margin-left: auto;
}

.weapons-wrapper{
  width: 150px;
  height: 90%;
  /* background-color:var(--focused-btn-cl); */
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn{
  width: 150px;
  height: 150px;
  border: none;
  transition: all .5s;
}

.focused{
  transform: scale(1.15);
}

.rock{
  background: url('https://api.iconify.design/noto/rock.svg') no-repeat center center / contain;
}

.paper{
  background: url('https://api.iconify.design/flat-ui/paper-bag.svg') no-repeat center center / contain;
}

.scissors{
  background: url('https://api.iconify.design/noto-v1/scissors.svg') no-repeat center center / contain;
}

.btn-play{
  background-color: var(--main-i-cl);
  padding:.5em 1.5em;
  border: none;
  border-radius: 3px;
  color: var(--color-light-gray);
  font-size: 1.1rem;
  letter-spacing: 2px;
  margin-top: 1.5em;
  font-family: inherit;
  transition: all .3s;
}

.btn-play:hover{
  transform: translateY(-3px);
}

.btn-play:active{
  background-color: var(--aliens-text-color);
  transform: translate(0);
}